body {
  padding: 0;
  margin: 0;
  font-family: georgia;
  cursor: default;
  letter-spacing: 2px;
  font-weight: normal;
  -webkit-text-stroke: 1px;
  overflow-x: hidden;
  font-size: 2vw;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

video {
  width: 100%;
}

html {
  background-color: white;
}

button {
  background-color: transparent;
  border: none;
  border-radius: none;
  padding: 0;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

.ts-page-inner {
  overflow: hidden;
}

.ts-page--active {
  pointer-events: none;
  overflow: hidden;
}

.ts-page-blur--active {
  filter: blur(3px);
}

/* Nav styling */

.ts-main-nav-container {
  width: 40%;
  list-style: none;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.ts-top-section {
  margin-bottom: 30px;
}

.ts-top-section span:hover {
  color: #00FEE3;
  cursor: pointer;
}

.ts-link-list {
  width: auto;
}

.ts-link {
  width: auto;
  display: flex;
}

.ts-link span:hover {
  color: #00FEE3;
  cursor: pointer;
}

/* Grid Switch Styling */

.ts-grid-switch-container {
  position: fixed;
  top: 100px;
  right: 40px;
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
  z-index: 100;
}

.ts-grid-switch {
  cursor: pointer;
  width: 3vw;
  height: 3vw;
  border-radius: 3vw;
  background-color: #00FEE3;
  text-align: center;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ts-grid-switch:hover {
  color: white;
}

.ts-grid-switch--active-small {
  color: white;
}

.ts-grid-switch--active-medium {
  color: white;
}

.ts-grid-switch--active-large {
  color: white;
}

/* Feed Styling */

.ts-feed-container {
  padding-top: 50px;
  width: 80%;
  margin: 0 15% 0 5%;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.ts-feed-inner-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.ts-feed-inner-container--medium {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.ts-feed-inner-container--medium .ts-feed-image {
  width: 80%;
  padding-bottom: 50px;
}

.ts-feed-inner-container--large {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.ts-feed-inner-container--large .ts-feed-image {
  width: 80%;
  padding-bottom: 100px;
}

.ts-feed-item {
  display: flex;
  align-items: flex-end;
}

.ts-feed-image {
  width: 100%;
  padding-bottom: 10px;
}

/* Footer styling */

.ts-footer-container {
  width: 50%;
  margin: 0 25%;
  padding: 500px 0 25px;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.ts-footer-email {
  display: flex;
  flex-direction: row;
}

.ts-footer-email span:hover {
  color: #00FEE3;
}

.ts-footer-instagram span:hover {
  color: #00FEE3;
  cursor: pointer;
}

.ts-line-container {
  width: 95%;
  margin: 0 2.5%;
  border-bottom: 3px solid black;
  margin-bottom: 100px;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

/* Mobile View */

@media only screen and (min-device-width: 320px) and
(max-device-width: 480px) and
(-webkit-min-device-pixel-ratio: 2) {

  body {
    font-size: 5vw;
  }

  /* Nav styling */

  .ts-main-nav-container {
    width: 80%;
  }

  .ts-top-section {
    margin-bottom: 100px;
  }

  /* Grid Switch Styling */

  .ts-grid-switch-container {
    top: 100px;
    right: 40px;
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
  }

  .ts-grid-switch {
    cursor: pointer;
    width: 10vw;
    height: 10vw;
    border-radius: 12vw;
    background-color: #00FEE3;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Feed Styling */

  .ts-feed-container {
    padding-top: 200px;
  }

  .ts-feed-inner-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .ts-feed-inner-container--medium {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .ts-feed-inner-container--large {
    grid-template-columns: 1fr 1fr;
  }

  .ts-feed-inner-container--large .ts-feed-image {
    width: 90%;
  }

  .ts-feed-item {
    display: flex;
    align-items: flex-end;
  }

  .ts-feed-image {
    width: 90%;
    padding-bottom: 10px;
  }

}
