body {
  padding: 0;
  margin: 0;
  font-family: helvetica;
  cursor: default;
  letter-spacing: 2px;
  font-weight: normal;
  -webkit-text-stroke: 0.5px;
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
}

html {
  background-color: white;
}

button {
  background-color: transparent;
  border: none;
  border-radius: none;
  padding: 0;
  margin: 0;
}

button:hover {
  cursor: pointer;
}

button img {
  width: 100%;
}

.ts-page {
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

/* Nav styling */

.ts-main-nav-container {
  top: 0;
  left: 0;
  width: 50%;
  font-size: 2vw;
  list-style: none;
}

.ts-top-section {
  margin-bottom: 30px;
}

.ts-link-list {
  width: auto;
}

.ts-link {
  width: auto;
  display: flex;
}

.ts-link span:hover {
  color: #00FEE3;
  cursor: pointer;
}

/* Pop up styling */

.ts-pop-up-container-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.ts-pop-up-container {
  position: absolute;
  width: 40%;
  margin: 0 30%;
  background-color: #00FEE3;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  pointer-events: all;
  font-size: 1vw;
}

.ts-pop-up-container--inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

.ts-pop-up-title {
  width: 100%;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ts-pop-up-close {
  text-decoration: underline;
}

.ts-pop-up-close:hover {
  cursor: pointer;
}

.ts-pop-up-image {
  width: calc(50% - 2.5px);
}

/* Slider Styling */

.ts-slider {
  margin-left: 20%;
  width: 80%;
  right: 0;
}

.slick-slide img {
  width: 100%;
}

.slick-slide {
  transition: all ease-in-out .5s;
}

.ts-slide {
  cursor: grab;
}

.ts-slide:active {
  cursor: grabbing;
}

.slick-next {
  color: black;
  font-size: 1vw !important;
}

.ts-pop-up-button-container {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: calc(20% + 5px);
  display: flex;
  flex-direction: row;
}

.ts-pop-up-button {
  width: calc(50% - 10px);
}

.ts-pop-up-button--prev {
  padding-right: 5px;
}

/* Entry styling */

.ts-pop-up-container-screen--emma {
  top: -200vh;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  -ms-transition: 1s;
  -webkit-transform: rotate(6deg);
  transform: rotate(6deg);
}

.ts-pop-up-container-screen--emma--entry {
  top: 0vh;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.ts-pop-up-container-screen--emma--exit {
  top: 200vh !important;
}

.ts-pop-up-container-screen--active {
  pointer-events: none;
}

/* Mobile View */

@media only screen and (min-device-width: 320px) and
(max-device-width: 480px) and
(-webkit-min-device-pixel-ratio: 2) {

  /* Nav styling */

  .ts-main-nav-container {
    width: 80%;
    font-size: 4vw;
  }

  /* Pop up styling */

  .ts-pop-up-container {
    width: 80%;
    margin: 0 10%;
    font-size: 2.5vw;
  }

}
